{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "components": "./components",
          "layouts": "./layouts",
          "stores": "./stores",
          "styles": "./styles"
        }
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": false,
        "assumptions": {
          "setPublicClassFields": false
        }
      }
    ]
  ]
}